services:
  mongodb:
    image: mongo:latest
    container_name: mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db
    restart: unless-stopped

  api:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: api
    environment:
      - NODE_ENV=development
      - JWT_SECRET=super-secret-password-for-jwt-auth-yeaaah
      - MONGO_URI=mongodb://mongo:27017/nodejs-api-b3
    depends_on:
      - mongodb
    ports:
      - "4612:4612"
    restart: unless-stopped

volumes:
  mongo-data: