services:
  mongodb:
    image: mongo:latest
    container_name: mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db
    restart: unless-stopped

  api:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: api
    env_file:
      - .env.docker
    depends_on:
      - mongodb
    ports:
      - "4612:4612"
    restart: unless-stopped

  front:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: front
    environment:
      - NODE_ENV=development
      - VITE_API_URI=https://localhost:4612/api/
      - CHOKIDAR_USEPOLLING:true
      - HOST=0.0.0.0
    depends_on:
      - api
    ports: 
      - "5173:5173"
    volumes:
      - ./frontend:/usr/src/app
      - /usr/src/app/node_modules
    restart: unless-stopped

volumes:
  mongo-data: