.cathalog {
    display: flex;
    padding: 15px;
}

.product {
    border: 1px solid black;
    padding: 15px;
    margin: 10px;
}

.titlePrice {
    display: flex;
    justify-content: space-between;
}

.titlePrice h3 {
    padding-right: 10px;
}

.titlePrice p {
    padding-left: 10px;
}

.titleStock {
    display: flex;
    justify-content: space-between;
}