.return {
    margin: 15px;
}

.productDetail-main {
    display: flex;
    justify-content: center;
}

.productDetail-img {
    width: 400px;
    height: auto;
}

.productDetail-img img {
    padding: 0px 10px 0px 0px;
}

.productDetail-desc {
    margin: 75px 0px 0px;
    padding: 0px 0px 0px 10px;
}

.productDetail-desc h3 {
    font-size: 24px;
}